html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  background-image: url("images/main-bg4.jpg");
  background-size: contain;
  background-repeat:  repeat-x;
  background-attachment: fixed;
  align-items: center;

}


h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: rgba(200,200,200);
}


h2 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: rgba(200,200,200);
  margin-bottom: 0px;
}


textarea {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  opacity: 75%;

}

div.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

div.about{
  padding: 10px;
  background-color: rgba(120,120,120,.1);
  border: solid;
  border-color: rgba(110,110,120);
  border-width: 1px;
  border-radius:0px;
  text-align: center;


}

div.logos {
 overflow: hidden;
 opacity: 65%;

}

div.logos img {
  width: 50px;
  height: 50px;
}

div.logos img:hover {
  opacity: 50%;
}
