body {
  background-image: url("images/main-bg.jpeg");
}

h1 {
  margin-top: center;
  margin-bottom: center;
  font-family: Lucida Console;
  font-size: 130px;
  color: white;
}


h2 {
  font-family: Lucida Console;
  font-size: 25px;
  color: white;
}

div.about{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
